/*------------------------------------------------------------------
[Main Theme Styles]
/*------------------------------------------------------------------
[Table of contents]

1. Mixins / Variables
2. General
3. Buttons2
4. Page Loader
5. Footer
6. vCard Body
7. Main Menu
8. Home
9. Content
10. Section: Resume
11. Owl Carousel
12. Section: Skills
13. Section: Portfolio
14. Section: Blog
15. Section: Blog - Single
16. Maps
17. Section: Blog - Contact
18. Crossbrowser Fallbacks
-------------------------------------------------------------------*/
/* ==========================================================
! 01. MIXINS / VARIABLES
==============	=========================================== */

.color1 {
  color: #337ab7;
}

.color2 {
  color: #083158;
}

.color3 {
  color: #d9212a;
}

.font1 {
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-weight: bold;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box-shadow {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
}

.responsive-image {
  width: 100%;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ==========================================================
! 02. GENERAL 
========================================================== */

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background: url('../img/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ==========================================================
! 03. Buttons
========================================================== */

a:focus {
  outline: none;
}

.btn {
  font-weight: bold;
  color: #ffffff;
  background: #337ab7;
  border-radius: 0;
  font-size: 12px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2px;
  &:hover {
    background: #000000;
    color: #ffffff;
  }
}

.btn-default {
  display: inline-block;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #008c8a !important;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0px solid transparent !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #083158;
    z-index: -1;
  }
  &:hover {
    color: #ffffff;
    border: 0px solid transparent !important;
    &:before {
      width: 100%;
    }
  }
}

.btn-default3 {
  background: #d9212a;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  &:hover {
    background: #009d9b;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.btn-default2 {
  font-size: 9px;
  background: #083158;
  font-weight: lighter;
}

.btn-nobg {
  background-color: transparent;
  border: 1px solid #083158;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  height: 46px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #083158;
  &:hover {
    background: #083158;
    color: #ffffff;
  }
}

iframe, .btn-fluid {
  width: 100%;
}

/* ==========================================================
! . 04. Page loader
========================================================== */

#page-loader {
  width: 100%;
  height: 100%;
  background: #337AB7;
  color: #337ab7;
  opacity: 0.99;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-wrapper {
  width: 250px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -125px;
}

.tp-loader {
  z-index: 10000;
  position: relative;
  &.spinner {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
}

.loader-name {
  color: #fafafa;
  opacity: 0.9;
  text-align: center;
  font-size: 32px;
  letter-spacing: -2px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 200;
  margin-top: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loader-job {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 200;
  margin-top: 5px;
  color: #d8d8d8;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loader-left {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
}

.loader-right {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
}

.loader-up {
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  opacity: 0 !important;
}

.loader-down {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  opacity: 0;
}

.loader-hide {
  opacity: 0;
}

.loader {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader-animation {
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}


/* ==========================================================
! 05. FOOTER
========================================================== */

.social-icons {
  font-size: 28px;
  text-align: right;
  display: none;
  a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (min-width: 768px) {
  .social-icons {
    display: block;
  }
}

.footer-social-icons {
  text-align: center;
  a {
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    &:hover {
      color: #ffffff;
      background: #337ab7;
    }
  }
}

/* ==========================================================
! 06. SECTION: vCard Body
========================================================== */

.container {
  position: relative;
  padding-bottom: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .container {
    min-height: 680px;
  }
}

.section-vcardbody {
  width: 99%;
  margin: 0 auto;
  overflow-y: scroll;
  background: url('../img/bg-card2.png') repeat-x right top #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-top: 6px solid #111;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
  border-bottom: 15px solid #f4f4f4;
}

@media (min-width: 992px) {
  .section-vcardbody {
    position: absolute;
    margin-top: 30px;
    left: 30%;
    height: 570px;
    width: 40%;
    padding: 45px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1400px) {
  .section-vcardbody {
    margin-top: 180px;
  }
}

.section-vcardbody-pgactive {
  left: 15%;
}

@media (min-width: 992px) {
  .section-page-single {
    left: 55%;
    transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    visibility: hidden;
    padding: 20px;
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .section-page {
    z-index: 11;
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .page-mask {
    position: absolute;
    top: 605px;
    left: 30%;
    display: block;
    width: 40%;
    height: 20px;
    background: #333;
    z-index: 77;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}

.page-mask-active {
  left: 55%;
  opacity: 1;
  margin-left: 10px;
}

.section-page-active {
  opacity: 1;
  z-index: 22;
  left: 55%;
  visibility: visible;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

@media (min-width: 992px) {
  .section-page-active {
    margin-top: 30px;
    margin-left: 10px;
  }
}

@media (min-width: 1400px) {
  .section-page-active {
    margin-top: 180px;
  }
}

.ps-scrollbar-y-rail {
  opacity: 0.9 !important;
  right: 4px !important;
}

/* ==========================================================
! 07. SECTION: Main Menu
========================================================== */

.main-menu {
  width: 15%;
  position: absolute;
  top: 0;
  left: 15%;
  padding-right: 10px;
  margin-top: 36px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  display: none;
}

@media (min-width: 992px) {
  .main-menu {
    display: block;
  }
}

@media (min-width: 1400px) {
  .main-menu {
    margin-top: 186px;
  }
}

.main-menu-pgactive {
  left: 0%;
}

.main-menu-list {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    list-style: none;
  }
  a {
    display: block;
    background: #337ab7;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:active, &:visited {
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: #083158;
      z-index: -1;
    }
    &:hover {
      color: #ffffff;
      border: 0px solid transparent !important;
      text-decoration: none;
      padding-left: 15px;
      &:before {
        width: 100%;
      }
    }
    &.menuActive {
      text-decoration: none;
      background:   #083158;
      padding-left: 15px;
    }
  }
}

/* ==========================================================
! 08. Home
========================================================== */

.section-home {
  z-index: 88;
  opacity: 1;
  overflow-y: auto;
}

.vcard-profile-pic {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  img {
    width: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 6px solid #ddd;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

.profileActive {
  opacity: 1 !important;
}

.vcard-profile-description {
  text-align: center;
}

.profile-title {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  font-size: 36px;
  letter-spacing: -2px;
  margin-bottom: 8px;
  color: #083158;
}

.profile-subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.vcard-profile-description-text {
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  p {
    font-size: 13px;
  }
}

.hr1 {
  border: none;
  height: 1px;
  width: 100%;
  background: url('../img/hr1.png') no-repeat center center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vcard-profile-description-ft-item {
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  background: url('../img/bg-btn.png') no-repeat center center #337ab7;
  p {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 12px;
  }
}

/* ==========================================================
! 09. Content
========================================================== */

.section-title {
  color: #083158;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 0;
  border-bottom: 1px solid #083158;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.section-title2 {
  font-weight: bold;
  color: #337ab7;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 4px solid #337ab7;
}

.resume-item {
  padding: 15px;
  border: 4px double #ccc;
  margin-bottom: 15px;
}

.section-item-title-1 {
  font-weight: bold;
  color: #083158;
  color: #333;
  padding-left: 0;
  margin-left: 0;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: -1px;
}

.section-item-title-2 {
  font-weight: bold;
  color: #083158;
  color: #333;
  padding-left: 0;
  margin-left: 0;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: -1px;
  border-bottom: 1px dotted #083158;
  padding-bottom: 5px;
  font-size: 15px;
}

.graduation-time, .job {
  line-height: 15px;
  font-style: italic;
  color: #555;
  font-size: 10px;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.graduation-description p {
  font-size: 12px;
}

/*============================================================================
  >>  10. SECTION: Resume
  ============================================================================
*/

.section-education {
  margin-bottom: 40px;
}

.resume-buttons {
  margin-bottom: 30px;
}

.header-page-buttons {
  margin-top: -20px;
}

.page-footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.footer-quote {
  color: #444;
  font-size: 11px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.testimonials {
  text-align: center;
  font-size: 18px;
}

.testimonial-item {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .testimonial-item {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.quote-text {
  font-style: italic;
}

.testimonial-credits {
  margin-top: 30px;
}

.testimonial-author {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: bold;
}

.testimonial-content {
  background: url('../img/bgmask2.png') no-repeat center center #337ab7;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 100%;
  position: relative;
  p {
    font-size: 13px;
    line-height: 16px;
  }
  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 888;
    background: #337ab7;
  }
}

.testimonial-picture {
  width: 110px;
  height: 110px;
  overflow: hidden;
  margin: 0 auto;
  img {
    width: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 6px solid #ddd;
  }
}

.testimonial-firm {
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: lighter;
}

.owl-carousel {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  &:focus, &:active, &:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
  .owl-item {
    cursor: -webkit-grab;
    &:focus, &:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }
    img {
      width: 100%;
    }
  }
}

/*============================================================================
  >>  11. Owl Carousel
  ============================================================================
*/

.grabbing {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
}

.owl-controls-wrapper2 {
  &:hover .owl-controls {
    opacity: 1;
  }
  .owl-controls {
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff !important;
    border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    a {
      color: #ffffff !important;
    }
    .owl-page {
      background-color: #ffffff;
      &.active {
        background: #083158;
      }
    }
  }
  .owl-pagination {
    width: 50%;
    float: left;
  }
  .owl-buttons {
    width: 50%;
    float: left;
    text-align: right;
    > div {
      display: inline-block;
      margin-left: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      font-size: 14px;
      &:hover {
        color: #083158;
      }
    }
  }
  .owl-mtop .owl-wrapper-outer {
    padding-top: 40px;
  }
  .owl-wrapper-outer {
    position: relative;
  }
  .owl-controls {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .owl-page {
      cursor: pointer;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      margin-right: 3px;
      display: inline-block;
      background: #333;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
      &.active {
        background: #083158;
      }
    }
  }
}

.owl-pagination {
  .owl-page span {
    background: #083158;
  }
  .active span {
    background: #083158 !important;
  }
}

/* ==========================================================
! 12. SECTION: SKILLS
========================================================== */

.skills-list {
  padding-left: 0;
  margin-left: 0;
}

.progress {
  position: relative;
  height: 25px;
  margin-bottom: 10px;
  > {
    .progress-type {
      position: absolute;
      left: 0px;
      font-size: 13px;
      padding: 3px 30px 2px 10px;
      color: #ffffff;
      background-color: rgba(25, 25, 25, 0.2);
    }
    .progress-completed {
      position: absolute;
      right: 0px;
      font-weight: 800;
      padding: 3px 10px 2px;
      color: #888;
      font-size: 14px;
    }
  }
}

.skills-list {
  list-style: none;
  margin-bottom: 40px;
}

.progress-bar {
  background: #337ab7;
  width: 20%;
}

.progress-bar-2 {
  background: #083158;
}

.progress-bar-3 {
  background: #d9212a;
}

/* ==========================================================
! 13. SECTION: Portfolio
========================================================== */

.project-item {
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  a {
    cursor: url('../img/projects2.cur'), projetos !important;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  }
}

.project-thumbnail {
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 250px;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  &:hover {
    color: #ffffff;
    .project-description-wrapper {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
    .project-title, span.see-more {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
  }
}

.project-description-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}

.project-description {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 100%;
}

.project-title {
  text-transform: uppercase;
  font-size: 20px;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:after {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    width: 50%;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.project-thumbnail {
  display: block;
  color: #ffffff;
  position: relative;
}

span.see-more {
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
}

/* ==========================================================
! 14. BLOG
========================================================== */

.blog-item {
  margin-bottom: 15px;
  padding: 9px;
  border-top: 4px solid #132644;
  padding-top: 20px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.6);
}

.blog-item-wrapper {
  /* border: 1px solid #ddd;
  border-top: 3px solid @color1;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 5px;*/
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog-item-title {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 0;
  margin-bottom: 6px;
  color: #083158;
  border-bottom: 1px dotted #083158;
  padding-bottom: 4px;
  font-weight: bold;
  a {
    color: #083158;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-item-thumb {
  a {
    cursor: url('../img/projects.cur'), projetos !important;
    -moz-cursor: url('../img/projects.cur'), projetos !important;
  }
  img {
    width: 100%;
  }
}

.blog-item-title-hr {
  border: 0;
  border-top: 3px solid #083158;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
}

.blog-item-description {
  p {
    font-size: 12px;
  }
  a {
    color: #555555 !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-item-link {
  margin-top: 20px;
  margin-bottom: 10px;
  .btn-default {
    font-size: 11px !important;
  }
}

.section-header-image {
  margin-bottom: 40px;
  img {
    width: 100%;
  }
}

.section-pagination {
  font-size: 12px;
  padding-bottom: 20px;
  a {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background: #337ab7;
    font-weight: bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      background: #083158;
      text-decoration: none;
    }
  }
}

/* ==========================================================
! 15. SECTION: Blog - Single
========================================================== */

.vcard-header-single {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 888;
}

@media (min-width: 992px) {
  .vcard-header-single {
    width: 40%;
    left: 30%;
    position: absolute;
    top: 61px;
    overflow-x: hidden;
  }
}

@media (min-width: 1400px) {
  .vcard-header-single {
    top: 180px;
  }
}

.blog-single-post {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  padding-top: 0;
  padding-right: 20px;
}

.blog-single-content p {
  font-size: 13px;
  line-height: 23px;
}

.blog-comments-title {
  border-bottom: 1px dotted #337ab7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .post-header-image {
    margin-left: -30px;
    margin-right: -40px;
  }
}

.post-header-image img {
  width: 100%;
}

.blog-single-title {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 0;
  margin-bottom: 6px;
  border-bottom: 1px dotted #083158;
  padding-bottom: 4px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #083158;
  border-bottom: 1px solid #083158;
  padding-bottom: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  a {
    color: #083158;
    &:hover {
      text-decoration: none;
    }
  }
}

/*! Blog Comments */

.blog-comments-title {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 18px;
  color: #337ab7;
}

.media-heading {
  font-weight: bold;
  small {
    font-size: 9px;
    display: block;
    color: #132644;
    margin-top: 8px;
  }
}

.media-body {
  font-size: 12px;
}

.well {
  background-color: transparent !important;
}

.blog-comments > .media {
  border-bottom: 1px dotted #000000;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.media {
  margin-top: 25px;
  img {
    width: 64px !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}

/* ==========================================================
! 16. SECTION: Map
========================================================== */

.map {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.map-overlay {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url('../img/projects.cur'), projetos !important;
}

/* ==========================================================
! 17. SECTION: Contact
========================================================== */

.contact-subtitle-1 {
  color: #337ab7;
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 25px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #337ab7;
  &:first-child {
    margin-top: 0;
  }
}

.contact-infos p {
  font-size: 13px;
  line-height: 16px;
}

.form-group {
  margin-bottom: 8px;
}

.form-send {
  width: 100%;
  &:hover {
    background: #d9212a !important;
  }
}

.form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  height: 50px;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  font-style: italic;
  color: #999999 !important;
}

.modal-wrap {
  display: none;
}

.modal-bg {
  background: #333;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-content {
  background: #fafafa;
  font-size: 18px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  z-index: 9999;
  padding: 10px 20px;
  .modal-title {
    color: #083158;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

#contactError .modal-title {
  color: #fff;
}

/* ==========================================================
! 18. CROSSBROWSER FALLBACKS
========================================================== */

.safari {
  .vcard-profile-pic img, .testimonial-picture img {
    border: 0px solid #ddd;
  }
}